<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <style>
      table{
	margin-left: auto;
	margin-right: auto;
	transform: tranlateY(50%);
	max-width: 240px;
	empty-cells: show;
    }

    #icon{
        width: 5%;
        padding-right: 5px;
    }

    #siteName{
        text-align: left; 
        padding-left: 5px;
        margin: auto;
        border-left: 1px solid #9CA3AF; 

    }

    #bodySpacer{
        height: 25px;
    }

    #headSpacer{
        padding: 2px;
    }

    #lineSpacer{
        padding: 2px;
    }

    #resetButton{
        display: block;
        min-width: 100%;
        color: white;
        font-size: 1.25rem;
        text-decoration: none;
        margin: auto;
    }

    #linkCell{
        border-radius: 5px;
        background: rgb(32, 178, 170);
        text-align: center;
    }
	 #resetButton:hover{
		cursor: pointer;
	 }

    a {
        text-decoration: none;
    }
   </style>
</head>
<body>

 
	<table>
		<thead>
					
			<tr>
				<th colspan="2" id="headSpacer">
					
				</th>
			</tr>
					
			<tr>
				<th colspan="2" id="headSpacer">
					
				</th>
			</tr>
			<tr>
				<th align="left" id="icon">
					Icon
				</th>
				<th id="siteName">MikeSpinks.dev</th>
			</tr>
			
			<tr>
				<th colspan="2" id="headSpacer">
					
				</th>
			</tr>
		</thead>
		
		
		<tbody>
			<tr>
				<td colspan="2" style="border-top: 1px solid #9CA3AF"></td>
			</tr>
			<tr id="bodySpacer">
				<td colspan="2"></td>
			</tr>
			<tr>
				<td colspan="2">Hi {{emailUsername}}</td>
			</tr>
			<tr>
				<td colspan="2" id="lineSpacer"></td>
			</tr>
			<tr>
				<td colspan="2">We Got A Request to change your password at mikespinks.dev</td>
			</tr>
				<tr>
				<td colspan="2" id="lineSpacer"></td>
			</tr>
			
			<tr>
				<td colspan="2" id="linkCell">
					<a href="{{resetPasswordLink}}" target="_blank" id="resetButton">
						Reset Password
					</a>
				</td>
			</tr>
				<tr>
				<td colspan="2" id="lineSpacer"></td>
			</tr>
			
			<tr>
				<td colspan="2">
					If you didn't request a password reset, please ignore this message. If you feel someone else made the request. Please <a href="#">Report Activity</a>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>